/**
 * Front end CSS
 * @package pootle page builder
 * @since 0.1.0
 * @developer http://wpdevelopment.me <shramee@wpdevelopment.me>
 */
.panel-grid {
	zoom: 1;
}

.panel-grid .panel-row-style {
	position: relative;
	overflow: hidden;
	background-position: center;
}

.panel-grid:before {
	content: '';
	display: block;
}

.panel-grid:after {
	clear: both;
	content: '';
	display: table;
}

.panel-grid-cell {
	-ms-box-sizing: initial;
	-moz-box-sizing: initial;
	-webkit-box-sizing: initial;
	box-sizing: initial;
	min-height: 1em;
	font-size: 15px;
}

.panel-grid-cell:first-child {
	padding-left: 0 !important;
}

.panel-grid-cell:last-child {
	padding-right: 0 !important;
}

.ppb-block {
	background: center/cover;
}

.panel-grid .panel p {
	color: inherit;
}

.panel-grid-cell {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.panel-grid-cell .panel {
	min-height: 1em;
	zoom: 1;
}

.panel-grid-cell > .panel {
	border: none;
	box-shadow: none !important;
	background-color: initial;
}

.panel-grid-cell .panel:before {
	content: '';
	display: block;
}

.panel-grid-cell .ppb-block:after {
	clear: both;
	content: '';
	display: table;
}

.panel-grid-cell .ppb-block p {
	color: inherit;
}

.panel-grid-cell .panel.panel-last-child {
	margin-bottom: 0;
}

.panel-grid-cell .widget-title {
	margin-top: 0;
}

/* Canvas Slider Compat */
.panel-grid-cell .widget_woo_component .business .slider-pagination {
	position: relative;
}

.panel-grid-cell .widget_woo_component .business .slider-pagination .flex-control-nav {
	padding: 0;
}

.panel-grid-cell .widget_woo_component .business #loopedSlider .slides {
	padding: 0;
}

.panel-grid-cell .widget_woo_component .business #loopedSlider .slides > li > img {
	padding: 0;
}

.panel-grid-cell .widget_woo_component .business ul.flex-direction-nav {
	list-style-type: none;
}

.panel-grid-cell .widget_woo_component .business ul.flex-direction-nav li {
	list-style-type: none;
}

.panel-grid #tabs .list li {
	list-style-type: none;
}

.panel-grid-cell > .widget_woo_component > .magazine ul {
	clear: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.panel-grid-cell > .widget_woo_component > .magazine ul > li {
	list-style-type: none;
}

.panel-grid-cell > .widget_woo_component > .magazine .flex-direction-nav {
	height: 0;
}

.panel-grid-cell > .widget_woo_component > .magazine > .pagination-wrap {
	text-align: center;
}

.panel-grid-cell > .widget_woo_component > .magazine > .pagination-wrap > .flex-control-nav {
	position: relative;
	top: 10px;
}

.panel-grid-cell > .widget_pootle-text-widget ul {
	list-style-position: outside;
}

/* fix Canvas set ol calendar element within .entry with a padding left */
.entry > .panel-grid > .panel-row-style > .panel-grid-cell > .panel > ol.vcalendar {
	padding-left: 0;
}

/* fix Canvas set ul tweets element within .entry with a padding left */
.entry > .panel-grid > .panel-row-style > .panel-grid-cell > .panel > ul.tweets {
	padding-left: 0;
}

.panel-grid-cell-container {
	font-size: 0;
	position: relative;
}

/* WooSlider slideshow in PB has margin in <p>, padding in <a>, and extra <br>  */
.panel-grid-cell > .widget_wooslider_slideshow_slides > .wooslider > .wooslider-viewport > .slides > .slide > .slide-content > .entry > p {
	margin-bottom: 0;
}

.panel-grid-cell > .widget_wooslider_slideshow_slides > .wooslider > .wooslider-viewport > .slides > .slide > .slide-content > .entry > p > a {
	padding: 0;
}

.panel-grid-cell > .widget_wooslider_slideshow_slides > .wooslider > .wooslider-viewport > .slides > .slide br {
	display: none;
}

.panel-grid .widget ul, .panel-grid .widget ol {
	list-style-position: inside;
}

ul.wooTabs {
	margin-bottom: 0 !important;
}

.ppb-bg-video-container.hide-on-mobile {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.ppb-bg-video-container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
}

.panel-row-style.video-bg video.ppb-bg-video {
	position: absolute;
	top: -999px;
	bottom: -999px;
	left: -999px;
	right: -999px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
	margin: auto;
	object-fit: cover;
}

img.ppb-bg-parallax {
	position: absolute;
	left: -999px;
	right: -999px;
	margin: auto;
	top:0;
	max-width: none;
	width: auto;
	height: auto;
}

/* Overlay */
.panel-row-style:before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "";
	top: 0;
	left: 0;
	z-index: 0;
}

.panel-row-style {
	position: relative;
	z-index: 10;
}

.panel-grid-cell-container {
	position: relative;
	z-index: 30; /* row content needs to be on top of row background color */
}

.ppb-full-width-no-bg, .ppb-full-width-no-bg:before{
	background: none !important;
}

@media only screen and (min-width: 769px) {
	br.rwd{
		display: none;
	}

	.ppb-match-col-hi .panel-grid-cell-container {
		display: table;
	}

	.ppb-match-col-hi .ppb-col {
		display: table-cell !important;
		height: 1px;
	}

	.ppb-match-col-hi .ppb-block:first-of-type:last-of-type {
		height: 100%;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

}

@media only screen and (max-width: 1024px) {

	.ppb-bg-video.hide-on-mobile {
		display: none;
	}

	.ppb-no-mobile-padding {
		padding: 0 !important;
	}
}

@media only screen and (max-width: 768px) {

	.hide-on-mobile {
		display: none;
	}

	.ppb-no-mobile-padding {
		padding: 0 !important;
	}
}

.ppb-rotate {
	position: relative;
	-webkit-animation: ppb-spin 4s linear infinite;
	-moz-animation: ppb-spin 4s linear infinite;
	animation: ppb-spin 4s linear infinite;
}
@-moz-keyframes ppb-spin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes ppb-spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes ppb-spin {
	0% { -webkit-transform: rotate(0deg); transform:rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}