/**
 * Admin end CSS
 * @package pootle page builder
 * @developer http://wpdevelopment.me <shramee@wpdevelopment.me>
 */
.button.pootle {
    background: #ef4832;
    border-color: #b32 !important;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 rgba(0, 0, 0, .25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .52), 0 1px 0 rgba(0, 0, 0, .25);
}

.button.pootle:hover {
    background: #e04025;
    color: #fff;
}

div.pootle.updated .button.pootle {
    margin: 5px 0 0;
}

div.pootle.updated {
    border-left-color: #ef4832;
}

#toplevel_page_page_builder a.wp-first-item {
    text-indent: -1000px;
}
#toplevel_page_page_builder a.wp-first-item:before {
    content: 'Home';
    position: absolute;
    text-indent: 1000px;
}
ul.ppb-side-25 li {
    display:block;
}
.ppb-side-25 {
    float: left;
    width: 25%;
}

.ppb-main-70 {
    float: right;
    width: 70%;
}