#pootle-page-builder {
	position: relative;
}

.panel-grid {
	zoom: 1;
	position: relative;
	&:before {
		content: '';
		display: block;
	}
	&:after {
		clear: both;
		content: '';
		display: table;
	}
}

.panel-row-style {
	position: relative;
	overflow: hidden;
	background-position: center;
	z-index: 10;
	.ppb-row-kenburns, &.video-bg video.ppb-bg-video {
		position: absolute;
		top: -999px;
		bottom: -999px;
		left: -999px;
		right: -999px;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		overflow: hidden;
		margin: auto;
		object-fit: cover;
	}
	&:before {
		position: absolute;
		width: 100%;
		height: 100%;
		content: "";
		top: 0;
		left: 0;
		z-index: 0;
	}
	&.ppb-row-effect-2 {
		background-attachment: fixed;
	}
}

.panel-grid-cell-container {
	padding-bottom: 1px;
	position: relative;
	z-index: 30;
	min-height: inherit;
	display: flex;
}

.ppb-col {
	-webkit-box-sizing: initial;
	box-sizing: initial;
	font-size: 15px;
	vertical-align: top;
	width: 100%;
	min-height: inherit;
	position: relative;
	display: flex;
	flex-direction: column;

	&:first-child {
		padding-left: 0 !important;
	}
	&:last-child {
		padding-right: 0 !important;
	}
	.ppb-block {
		&:after {
			clear: both;
			content: '';
			display: table;
		}
		p {
			color: inherit;
		}
	}
}

.ppb-block {
	box-sizing: content-box;
	background: center/cover;
}


.ppb-bg-video-container.hide-on-mobile {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

.ppb-row-kenburns-wrap, .ppb-bg-video-container {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	overflow: hidden;
}

img {
	&.ppb-row-kenburns {
		-webkit-animation: 115s ppb_kenburns linear infinite;
		animation: 115s ppb_kenburns linear infinite;
	}
	&.ppb-bg-parallax {
		position: absolute;
		left: -999px;
		right: -999px;
		margin: auto;
		top: 0;
		max-width: none;
		width: auto;
		height: auto;
	}
}

@keyframes ppb_kenburns {
	0%   { transform: scale(1.3) translate(-10%, 10%); }
	25%  { transform: scale(1.0) translate( 0, 0); }
	50%  { transform: scale(1.3) translate( 10%, 10%); }
	75%  { transform: scale(1.0) translate( 0, 0); }
	100% { transform: scale(1.3) translate(-10%, 10%); }
}

.ppb-full-width-no-bg {
	background: none !important;
	&:before {
		background: none !important;
	}
}

.ppb-stretch-full-width.ppb-stretch-full-width-2 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.ppb-fa-icon a {
	text-decoration: none;
	font-weight: normal;
	box-shadow: none;
	&[href] {
		text-decoration: none;
		font-weight: normal;
		box-shadow: none;
	}
}

.ppb-content-h-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.ppb-content-v-center {
	margin-top: auto !important;
	margin-bottom: auto !important;
}