
@media screen and (min-width: 1025px) {
	.ppb-desktop-transparent {
		opacity: 0;
	}
	.hide-on-desktop {
		display: none;
	}
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
	.ppb-bg-video.hide-on-mobile, .hide-on-tablet {
		display: none;
	}
}
