/**
 * Plugin front end styles
 *
 * @package Pootle_Page_Builder_Live_Editor
 * @version 1.0.0
 * @developer shramee <shramee.srivastav@gmail.com>
 */

/*! jQuery UI - v1.11.4 - 2015-06-20 * http://jqueryui.com * Includes: core.css, slider.css * Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */

.ppb-helper-hidden {
	display: none;
}

.ppb-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ppb-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ppb-helper-clearfix {
	&:before {
		content: "";
		display: table;
		border-collapse: collapse;
	}
	&:after {
		content: "";
		display: table;
		border-collapse: collapse;
		clear: both;
	}
	min-height: 0;
}

.ppb-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
}

.ppb-state-disabled {
	cursor: default !important;
}

.ppb-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ppb-slider {
	width: 250px;
	display: inline-block;
	margin: 0 7px 0 0;
	.ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1.2em;
		height: 1.2em;
		cursor: default;
		-ms-touch-action: none;
		touch-action: none;
	}
	.ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}
}

.ui-slider.ppb-state-disabled {
	.ui-slider-handle, .ui-slider-range {
		filter: inherit;
	}
}

.ui-slider-horizontal {
	height: .8em;
	background: #f2f2f2;
	border-radius: 9px;
	border: 1px solid #aaa;
	.ui-slider-handle {
		border-radius: 9px;
		border: 1px solid #aaa;
		top: -.3em;
		margin-left: -.6em;
		background: #fff;
	}
	.ui-slider-range {
		top: 0;
		height: 100%;
	}
	.ui-slider-range-min {
		left: 0;
	}
	.ui-slider-range-max {
		right: 0;
	}
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
	.ui-slider-handle {
		left: -.3em;
		margin-left: 0;
		margin-bottom: -0.6em;
	}
	.ui-slider-range {
		left: 0;
		width: 100%;
	}
	.ui-slider-range-min {
		bottom: 0;
	}
	.ui-slider-range-max {
		top: 0;
	}
}

:focus {
	outline: none;
}

.wp-color-result {
	box-sizing: content-box;
}

/**
 * Created by shramee on 29/12/15.
 */

.panels-tooltip {
	max-width: 430px;
	position: absolute;
	background: #1c1c1c;
	background: rgba(0, 0, 0, 0.8);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: white;
	font-size: 11px;
	/* Higher than the admin bar */
	padding: 4px 8px;
	z-index: 999999;
	.pointer {
		position: absolute;
		bottom: -4px;
		left: 50%;
		width: 8px;
		height: 4px;
		background-image: url(images/tooltip-pointer.png);
		margin-left: -4px;
	}
}

.screen-reader-text {
	height: 1px;
	width: 1px;
	display: block;
	overflow: hidden;
	position: absolute !important;
}

.pootle-live-editor {
	visibility: hidden;
	position: absolute;
	top: 7px;
	right: 7px;
}

.ppb-edit-row {
	right: auto;
	left: 0;
	top: auto;
	bottom: 100%;
	padding: 7px;
}

body .ppb-dialog {
	font: 14px sans-serif;
	color: #333;
	h1, h2, h3, h4, h5, h6, p, a {
		font: inherit;
		color: inherit;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 0.9em;
	}
}

.ppb-dialog > * {
	font-family: inherit;
}

.pootle-live-editor.ppb-edit-row .dashicons-before {
	&:before, &:hover:before {
	}
}

.pootlepb-dialog {
	textarea, input[type='text'] {
		width: 250px;
	}
}

.pootle-live-editor .dashicons-before {
	&:before {
		font-size: 25px;
		width: 25px;
		height: 25px;
		color: #ef4832;
		width: 25px;
		padding: 5px;
		background: rgba(255, 205, 205, 0.5);
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		box-sizing: content-box;
	}
	&:hover:before {
		color: #fff;
		background: #ef4832;
	}
}

.ppb-state-active span {
	font-weight: bold;
}

.pootle-live-editor-content-container, .ppb-block, .panel-grid {
	position: relative;
}

.ppb-block {
	margin: 2px;
}

.panel-grid {
	margin: 2px;
	&:first-child {
		margin-top: 3px;
	}
	&:last-child {
		margin-bottom: 3px;
	}
}

.ppb-edit-row .dashicons-editor-code:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	padding: 6px 5px 4px 5px;
}

.ppb-edit-block span {
	float: right;
	margin-left: 3px;
}

.ppb-block:hover .pootle-live-editor {
	display: block;
	visibility: visible;
}

.ppb-live-edit-focus .panel-grid:hover .ppb-edit-row {
	display: none;
}

.panel-grid:hover .ppb-edit-row, .ppb-block:hover .pootle-live-editor {
	visibility: visible;
	z-index: 97;
}

.panel-grid .ppb-edit-row span:not(:first-child), .ppb-block .pootle-live-editor span:not(:first-child) {
	visibility: hidden;
	display: none;
}

.panel-grid {
	&:hover .ppb-edit-row:hover span, &.tour-active .ppb-edit-row.tour-active span {
		visibility: visible;
		display: inline-block;
	}
}

.ppb-block:hover .pootle-live-editor:hover span, .panel-grid.tour-active .ppb-block .pootle-live-editor.tour-active span {
	visibility: visible;
	display: inline-block;
}

.ppb-dialog-content {
	padding: 0;
}

.ppb-cool-panel.ppb-dialog {
	position: fixed;
	left: 0 !important;
	top: 0 !important;
	bottom: 0;
	right: auto;
	width: 300px !important;
	overflow: hidden;

	* {
		box-sizing: border-box;
	}

	.wp-picker-container * {
		box-sizing: content-box;
	}

	.ppb-tabs-nav,
	.ppb-dialog-titlebar,
	.content-wrap,
	.ppb-dialog-buttonpane {
		position: absolute;
		top: 37px;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.ppb-tabs-nav {
		li {
			display: block;
			padding: 0;
			margin: 0;
		}
	}

	.ppb-tabs-nav a,
	.content-wrap a.back {
		color: #655;
		font-weight: normal;
		display: block;
		padding: 1em;
		border-bottom: 1px solid #ccc;
		&:before {
			content: "\f345";
			line-height: 1;
			font: normal 20px/16px dashicons;
			vertical-align: top;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			float: right;
		}
	}

	.content-wrap a.back:before {
		content: '\f341';
		float: left;
		margin-right: 16px;
	}

	.ppb-dialog-titlebar {
		top: 0;
		bottom: auto;
		height: 37px;
	}

	.content-wrap {
		display: none;
		transition: left 0.35s;
		background: #fff;
	}

	&.show-panel {
		.content-wrap {
			display: block;
		}
		.ppb-tabs-nav {
			left: -100%;
		}
	}

	.ppb-dialog-buttonpane {
		display: none;
	}
}

.ppb-dialog.show-panel ~ .ppb-widget-overlay {
	background: rgba(0, 0, 0, 0);
}

.ppb-tabs-panel {
	background: #fff;
	height: calc(100% - 45px);
	overflow: auto;
	box-sizing: border-box;
	.field, h3 {
		padding: 16px;
		background: #f5f5f5;
		margin: 0;
		position: relative;
		border-bottom: 1px solid #ddd;
	}
	.field {
		* {
			vertical-align: middle;
		}

		.wp-picker-holder {
			display: block;
		}
		> span {
			margin-top: 1em;
			display: block;
			* {
				max-width: 100%;
				font-size: 14px !important;
			}
			.dashicons {
				font-size: 0 !important;
			}
			input[data-style-field-type="upload"] + .dashicons {
				position: relative;
				top: -119px;
				left: 178px;
				color: #e25c4e;
				text-shadow: 0 0 1px #000;
			}
			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 0 25px 0 7px;
				display: inline-block;
				width: 200px;
				line-height: 34px;
				border-radius: 0;
				background: 178px/12px no-repeat
				url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfhBwoMFR2R+C1aAAAAs0lEQVRIx+3MKw7CQBhF4ZMCevaGwlSjUCRoBKILwbEJEkxlQ/BdQBcxiEID03ncDsjeqv6Z78C8P271y+uSho4KI2FDRUdD+T4csa+vFhKGenh/AlgPv0rik1ssG7h+HeIJl1tucHdO4cSYWx6wHR39CR+37GDBWUj4+YUlKIkoTyeSPJ6QeCwh8nBC5moiwpVEgqcSAo8lRB5KTOC+xETuJjJ4n9jT0nLI4/0Kinw8T9wTDiQk6+dziScAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTctMDctMTBUMTI6MjE6MjkrMDI6MDDlcS1gAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE3LTA3LTEwVDEyOjIxOjI5KzAyOjAwlCyV3AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAAASUVORK5CYII=);
			}
			input[data-style-field-type="upload"] {
				height: 115px;
				background: #fff center/cover no-repeat;
				color: rgba(0, 0, 0, 0);
				display: block;
				//&:focus {
				//	background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) !important;
				//	color: #555;
				//	height: 36px;
				//}
			}
			.dashicons:before {
				font-size: 25px;
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}

		&.field_type_checkbox > label {

			+ span {
				position: absolute;
				top: 0;
				right: 1em;
				width: auto;
			}
		}

		.tooltip {
			margin-left: 1em;
			height: auto;
			//font: inherit;
			text-align: left;
		}
		.tooltip:before {
			//content: attr(data-tooltip);
			height: auto;
		}

		> * {
			width: 100%;
		}
		label {
			display: block;
		}
	}
	img {
		display: inline-block;
	}
}

#pootlepb-content-editor-panel {
	li.content-block-tab {
		visibility: hidden;
		max-height: 0;
		overflow: hidden;
		&.content-block-tab-html_editor,
		&.content-block-tab-editor,
		&.content-block-tab-style,
		&.content-block-tab-advanced {
			visibility: visible;
			max-height: none;
		}
	}
}

#pootlepb-confirm-delete, #pootlepb-add-row {
	padding: 25px 18px;
	font: 16px sans-serif;
}

.panel-grid:hover ~ .pootle-live-editor.add-row {
	visibility: hidden;
}

.ppb-dialog-buttonpane:after {
	content: '';
	display: block;
	clear: both;
}

#wp-ppbeditor-editor-container {
	border: 1px solid #ddd;
}

.pootle-live-editor.ppb-live-add-object {
	text-align: center;
	display: block;
	visibility: visible;
	position: static;
	span {
		display: inline-block;
		padding: 2px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.add-content {
	display: inline-block;
	padding: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.pootle-live-editor {
	&.ppb-live-add-object .dashicons-before:before {
		padding-top: 8px;
		padding-bottom: 2px;
	}
	&.add-content .dashicons-before {
		display: block;
		position: absolute;
		height: 35px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		top: 0;
		bottom: 0;
		left: 7px;
		right: 7px;
		margin: auto;
		width: auto;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		&:before {
			display: block;
			position: absolute;
			height: 35px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			top: 0;
			bottom: 0;
			left: 7px;
			right: 7px;
			margin: auto;
			width: auto;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
		}
	}
}

.pootle-live-editor-active span.dashicons-before {
	cursor: pointer;
}

.pootle-live-editor.add-content .dashicons-before {
	display: none;
}

.panel-grid:hover .pootle-live-editor.add-content .dashicons-before {
	display: block;
}

.panel-grid-cell .add-content {
	display: block;
	overflow: hidden;
}

.ppb-row[style*="height"] .add-content, .ppb-block + .add-content {
	display: none;
}

#pootle-page-builder .panel-grid .panel-row-style {
	overflow: visible;
}

.panel-grid-cell-container {
	display: flex;
	flex-wrap: wrap;
	transition: padding 0.25s;
}

/*
.panel-grid:hover .ppb-edit-row:hover ~ .ppb-row .panel-grid-cell-container {
	padding-top: 45px;
}
*/

.panel-grid-cell {
	position: relative;
	left: 0 !important;
	min-height: 50px;
}

.ppb-row .panel-grid-cell {
	&:last-child {
		margin-right: -2px;
	}
	&:first-child .ui-resizable-handle {
		display: none !important;
	}
	.ppb-block {
		&:hover .ui-resizable-handle {
			display: block !important;
			visibility: visible;
			border: none;
			width: 7px;
			z-index: 9;
		}
		.ui-resizable-handle {
			cursor: ew-resize;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			&.ui-resizable-e {
				left: auto;
				right: 0;
				> * {
					right: 0;
				}
			}
			.top,
			.bottom {
				content: '';
				transform: scale(0.7);
				transition: all 0.25s;
				position: absolute;
				height: 16px;
				width: 16px;
				margin: -8px;
				border-radius: 50%;
				border: 1px solid #ef4832;
				background: #ffffff;
				top: 0;
			}
			.bottom {
				top: auto;
				bottom: 0;
			}
			> *:hover {
				transform: scale(1);
			}
		}
	}
}

.ui-resizable-handle {
	display: none;
	visibility: hidden;
	position: absolute;
	top: 7px;
	bottom: 16px;
	left: 0;
	right: auto;
	border-left: 1px dashed #ef4832;
	padding: 0;
	margin-left: 0;
	cursor: ew-resize;
}

.panel-grid {
	&.tour-active .resize-cells ~ .ui-resizable-handle, &:hover .resize-cells ~ .ui-resizable-handle {
		display: block;
		visibility: visible;
	}
}

.ppb-cols-resizing .ui-resizable-handle {
	display: block;
	visibility: visible;
}

.ui-resizable-handle:hover {
	opacity: 1;
}

.pootle-live-editor.resize-cells {
	&:after {
		display: block;
		content: '';
		position: absolute;
		top: -3px;
		bottom: -4px;
		right: 0;
		padding: 0;
		border-left: 1px solid;
		border-color: inherit;
	}
	&:before {
		display: block;
		content: '';
		position: absolute;
		top: -3px;
		bottom: -4px;
		right: 0;
		padding: 0;
		border-left: 1px solid;
		border-color: inherit;
		right: auto;
		left: 0;
	}
	display: none;
	visibility: visible;
	padding: 0;
	border-color: #ef4832;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	top: auto;
	bottom: 7px;
	right: 2px;
	left: 2px;
}

.ppb-cols-resizing .pootle-live-editor.resize-cells {
	display: block;
}

.pootle-live-editor.resize-cells .weight {
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -26px;
	font-size: 12px;
	line-height: 14px;
	width: 52px;
	padding: 3px;
	border-radius: 3px;
	background: #ef4832;
	color: #fff;
	text-align: center;
}

/**
 * Plugin front end styles
 *
 * @package Pootle_Page_Builder_Live_Editor
 * @version 1.0.0
 * @developer shramee <shramee.srivastav@gmail.com>
 */
/*! jQuery UI - v1.11.4 - 2015-06-20 * http://jqueryui.com * Includes: core.css, slider.css * Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */

.ppb-helper-hidden {
	display: none;
}

.ppb-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ppb-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ppb-helper-clearfix {
	&:before {
		content: "";
		display: table;
		border-collapse: collapse;
	}
	&:after {
		content: "";
		display: table;
		border-collapse: collapse;
		clear: both;
	}
	min-height: 0;
}

.ppb-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity=0);
}

.ppb-front {
	z-index: 99999;
}

.ppb-state-disabled {
	cursor: default !important;
}

.ppb-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ppb-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background 0.25s;
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ppb-slider {
	width: 250px;
	display: inline-block;
	margin: 0 7px 0 0;
	.ui-slider-handle {
		position: absolute;
		z-index: 2;
		width: 1.2em;
		height: 1.2em;
		cursor: default;
		-ms-touch-action: none;
		touch-action: none;
	}
	.ui-slider-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
	}
}

.ui-slider.ppb-state-disabled {
	.ui-slider-handle, .ui-slider-range {
		filter: inherit;
	}
}

.ui-slider-horizontal {
	height: .8em;
	background: #f2f2f2;
	border-radius: 9px;
	border: 1px solid #aaa;
	.ui-slider-handle {
		border-radius: 9px;
		border: 1px solid #aaa;
		top: -.3em;
		margin-left: -.6em;
		background: #fff;
	}
	.ui-slider-range {
		top: 0;
		height: 100%;
	}
	.ui-slider-range-min {
		left: 0;
	}
	.ui-slider-range-max {
		right: 0;
	}
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
	.ui-slider-handle {
		left: -.3em;
		margin-left: 0;
		margin-bottom: -0.6em;
	}
	.ui-slider-range {
		left: 0;
		width: 100%;
	}
	.ui-slider-range-min {
		bottom: 0;
	}
	.ui-slider-range-max {
		top: 0;
	}
}

:focus {
	outline: none;
}

.wp-color-result {
	box-sizing: content-box;
}

/**
 * Created by shramee on 29/12/15.
 */

.pootle-live-editor {
	visibility: hidden;
	position: absolute;
	top: 7px;
	right: 7px;
}

.ppb-edit-row {
	right: auto;
	left: 0;
	top: auto;
	bottom: 100%;
	padding: 7px;
}

.pootle-live-editor.ppb-edit-row .dashicons-before {
	&:before, &:hover:before {
	}
}

.pootlepb-dialog {
	textarea, input[type='text'] {
		width: 250px;
	}
}

.pootle-live-editor {
	.dashicons-before:before, .pootle-live-editor-addons .addon-label {
		color: #ef4832;
		padding: 5px;
		background: rgba(255, 205, 205, 0.5);
	}
	.dashicons-before {
		&:before {
			font-size: 25px;
			width: 25px;
			height: 25px;
			width: 25px;
			padding: 5px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			box-sizing: content-box;
		}
		&:hover:before {
			color: #fff;
			background: #ef4832;
		}
	}
}

.ppb-state-active span {
	font-weight: bold;
}

.pootle-live-editor-content-container, .ppb-block, .panel-grid {
	position: relative;
}

.ppb-block {
	margin: 2px;
}

.panel-grid {
	margin: 2px;
	&:first-child {
		margin-top: 3px;
	}
	&:last-child {
		margin-bottom: 3px;
	}
}

.ppb-edit-row .dashicons-editor-code:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	padding: 6px 5px 4px 5px;
}

.ppb-edit-block span {
	float: right;
	margin-left: 3px;
}

.ppb-edit-row:hover + .ppb-row, .ppb-block:hover, .panel-grid.tour-active .ppb-block {
	outline: 1px solid #ef4832;
}

.ppb-block:hover .pootle-live-editor {
	display: block;
	visibility: visible;
}

.ppb-live-edit-focus .panel-grid:hover .ppb-edit-row {
	display: none;
}

.panel-grid {
	&.tour-active .ppb-edit-row, &:hover .ppb-edit-row, &.tour-active .pootle-live-editor {
		visibility: visible;
		z-index: 9997;
	}
}

.ppb-block:hover .pootle-live-editor {
	visibility: visible;
	z-index: 9997;
}

.bg-grad-prevu {
	border: 1px solid #aaa;
}

.panel-grid:hover .ppb-edit-row:hover span {
	/* display: inline-block; */
}

.ppb-block:hover .pootle-live-editor:hover {
	span {
		/* display: inline-block; */
	}
	.pootle-live-editor-addons {
		span {
			display: none;
			float: none;
			padding: 5px 0;
			margin: 0;
			position: relative;
			.addon-text {
				position: absolute;
				margin: 0;
				width: 115px;
				height: auto;
				padding: 7px;
				top: 0;
				bottom: 0;
				left: 99%;
			}
		}
		&:hover span {
			.addon-label {
				margin: 0;
				width: auto;
				height: 30px;
				line-height: 30px;
				padding: 0 5px;
				display: inline-block;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			display: block;
		}
		display: inline-block;
		height: 35px;
	}
}

.ppb-dialog-content {
	padding: 0;
}

#pootlepb-add-row, #pootlepb-set-title, #pootlepb-post-settings {
	padding: 25px;
	text-align: center;
}

#pootlepb-set-title + .ppb-dialog-buttonpane .ui-button-text-icon-primary {
	background: #0085ba !important;
	border-color: #0073aa #006799 #006799 !important;
	-webkit-box-shadow: 0 1px 0 #006799 !important;
	box-shadow: 0 1px 0 #006799 !important;
	color: #fff !important;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799 !important;
	font-weight: 500;
}

.pootlepb-dialog input {
	&[type="search"], &[type="text"], &[type="number"] {
		margin: 2px 5px 2px 0;
		padding: 0 7px !important;
		line-height: 34px !important;
		color: #555;
		background: #fff;
		border: 1px solid #ccc !important;
		box-shadow: none;
	}
}

.ppb-dialog .field {
	.button, button {
		margin: 2px 5px 2px 0;
		padding: 0 7px;
		line-height: 34px;
		color: #555;
		background: #fff;
		border: 1px solid #ccc !important;
		box-shadow: none;
	}
}

.ppb-tabs-panel input {
	&[type='text'], &[type='search'], &[type='number'] {
		width: 200px;
	}
}

.pootle-live-editor-active .ppb-dialog {
	.button, button, .ui-button {
		background: #eee;
	}
}

.search-unsplash-wrap {
	position: relative;
	display: block;
	float: left;
	.dashicons {
		position: absolute;
		top: 0;
		right: 0;
		overflow: hidden;
		margin: 2px 5px 2px 0;
		padding: 0 7px;
		line-height: 34px;
		height: 34px;
		width: 34px;
		color: #aaa;
		&.tooltip-unsplash {
			right: -29px;
		}
	}
}

.pootle-live-editor-active .ppb-dialog button.ui-button-link {
	background: none;
	border: none;
	box-shadow: none;
	display: inline;
	float: left;
	padding: 0 !important;
	margin: 0;
}

.pootlepb-dialog label {
	display: block;
}

#pootlepb-post-settings {
	label {
		text-align: left;
		padding: 25px 0;
		border-bottom: 1px solid #ccc;
		&:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
		}
		> * {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}
	}
	input, select, input {
		width: 250px;
	}
	h3 {
		width: 169px;
	}
	label > span {
	}
}

.ppble-img-prevu {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7), -1px 1px 1px rgba(255, 255, 255, 0.7), -1px -1px 1px rgba(255, 255, 255, 0.7), 1px -1px 1px rgba(255, 255, 255, 0.7);
	color: rgba(0, 0, 0, 0.7);
	text-align: center;
	padding-top: 70px;
	padding-bottom: 70px;
	line-height: 20px;
	width: 160px;
	background: #fff center/cover no-repeat;
	border: 1px solid #ddd;
}

.panel-grid:hover ~ .pootle-live-editor.add-row {
	visibility: hidden;
}

.ppb-dialog-buttonpane:after {
	content: '';
	display: block;
	clear: both;
}

#wp-ppbeditor-editor-container {
	border: 1px solid #ddd;
}

.pootle-live-editor.ppb-live-add-object {
	text-align: center;
	display: block;
	visibility: visible;
	position: static;
	span {
		display: inline-block;
		padding: 2px;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-ms-transition: all 0.5s;
		-o-transition: all 0.5s;
		transition: all 0.5s;
	}
}

.add-content {
	display: inline-block;
	padding: 2px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.pootle-live-editor.ppb-live-add-object .dashicons-before:before {
	padding-top: 8px;
	padding-bottom: 2px;
}

.chosen-container {
	&.chosen-container-multi, &.chosen-container-single {
		width: 340px !important;
		/* or any value that fits your needs */
	}
}

iframe[src*='/pootle-buttons/'] {
	max-height: 88vh;
}

.mce-inline-toolbar-active ~ .mce-inline-toolbar-active {
	display: none !important;
}

.mce-tinymce-inline .mce-stack-layout .mce-stack-layout-item {
	display: inline-block;
}

.mce-tinymce.mce-tinymce-inline {
	width: auto;
	background: #ef4832;
	padding: 0 16px;
	border-radius: 25px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.mce-tinymce-inline.mce-inline-toolbar-grp.mce-arrow-down {
	&:after, &:before {
		display: none;
	}
}

.mce-tinymce.mce-tinymce-inline {
	*:not(.mce-caret) {
		background: none;
		margin: 0 !important;
		padding: 0;
		border: 0;
		margin: 0;
		font: 16px/25px sans-serif;
		box-shadow: none !important;
		color: #fff;
	}
	.mce-btn-group .mce-btn {
		background: none;
		margin: 0 !important;
		padding: 0;
		border: 0;
		margin: 0;
		font: 16px/25px sans-serif;
		box-shadow: none !important;
		color: #fff;
		&.mce-listbox, button {
			background: none;
			margin: 0 !important;
			padding: 0;
			border: 0;
			margin: 0;
			font: 16px/25px sans-serif;
			box-shadow: none !important;
			color: #fff;
		}
	}
	.mce-colorbutton .mce-preview {
		width: auto;
		right: 3px;
	}
	.mce-caret {
		border-top-color: #fff !important;
	}
	.mce-btn-group .mce-btn {
		&:focus, &:hover {
			background: rgba(0, 0, 0, 0.2);
			border: 0;
		}
	}
	.mce-ico {
		font: 20px/25px dashicons;
	}
	.mce-btn-group {
		.mce-btn button {
			background: none;
			border-left: 1px solid rgba(0, 0, 0, 0.2);
			padding: 7px 9px;
		}
		.mce-colorbutton button {
			padding-right: 0;
		}
		.mce-last button {
			border-right: 1px solid rgba(0, 0, 0, 0.2);
		}
		.mce-btn {
			button + button {
				border-left: 0;
				padding: 7px 7px 7px 0;
			}
			&.mce-active {
				background: rgba(0, 0, 0, 0.2);
			}
		}
	}
}

.mce-toolbar .mce-btn-group .mce-btn:active, .qt-dfw.active {
	background: rgba(0, 0, 0, 0.2);
}

.mce-toolbar {
	div.mce-btn button {
		line-height: 25px;
		background: #eee;
		border: 1px solid #ccc;
		&.mce-open {
			line-height: 25px;
			background: #eee;
			border: 1px solid #ccc;
		}
	}
	.mce-btn-group .mce-btn.mce-listbox button {
		border-color: transparent;
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		padding-right: 25px;
	}
	.mce-btn.mce-disabled {
		display: none;
	}
}

.mce-panel.mce-floatpanel {
	z-index: 999999 !important;
}

.mce-tinymce.mce-tinymce-inline .mce-btn-group {
	&.ppb-tmce-btn-grp-toggle-fields {
		position: absolute;
		bottom: 106%;
		left: -16px;
		text-align: center;
		background: #ef4832;
		padding: 0 16px;
		border-radius: 999px;
		.mce-first button {
			border-left: none;
		}
		* {
			text-align: center;
		}
	}
	position: relative;
}

.wp-core-ui input {
	padding: 4px;
	background: #fff;
	border: 1px solid #ccc;
}

/* Modules Slide in */

#pootlepb-modules-wrap {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -340px;
	width: 340px;
	background: #eee;
	z-index: 9999;
	transition: left 0.25s, right 0.25s;
	&.position-right {
		left: auto;
		right: -340px;
	}
	-webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25);
	> .dashicons-screenoptions {
		-webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25);
		box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.25);
	}
}

.admin-bar #pootlepb-modules-wrap {
	top: 32px;
}

#pootlepb-modules-wrap {
	&.toggle {
		left: 0;
	}
	&.position-right.toggle {
		left: auto;
		right: 0;
	}
	> .dashicons-screenoptions, #pootlepb-modules {
		position: absolute;
		top: 0;
		left: 100%;
		background: inherit;
		height: auto;
		width: auto;
		padding: 7px 5px 5px;
		cursor: pointer;
	}
	&.position-right > .dashicons-screenoptions {
		right: 100%;
		left: auto;
	}
	#pootlepb-modules {
		left: 0;
		bottom: 0;
		right: 0;
	}
	&.toggle #pootlepb-modules {
		overflow: auto;
	}
	> .dashicons-screenoptions:before {
		font-size: 30px;
		height: auto;
		width: auto;
	}
}

.ppb-module-disabled, .ppb-module {
	margin: 16px 16px 0;
	border: 1px solid #ddd;
	border-bottom-color: #bbb;
	border-right-color: #bbb;
	background: #fff;
	color: #333;
	font-size: 0;
	opacity: 0.79;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	position: relative;
	width: 300px;
}

.ppb-module-disabled:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #ccc;
	opacity: 0.34;
	cursor: default;
}

a .ppb-module-disabled:after {
	cursor: pointer;
}

.ppb-module {
	&:active {
		cursor: -webkit-grabbing;
		cursor: -moz-grabbing;
	}
	&:hover {
		opacity: 1;
	}
	.tooltip-module {
		position: absolute;
		right: 5px;
		top: 50%;
		margin-top: -10px;
	}
}

.ppb-module-disabled, .ppb-module {
	.icon, .label {
		vertical-align: middle;
		display: inline-block;
		box-sizing: border-box;
	}
	.label {
		padding: 7px 7px 7px 0;
		width: 80%;
		font: 16px/1.6 sans-serif;
	}
	.icon {
		height: 50px;
		line-height: 50px;
		width: 20%;
		text-align: center;
	}
	.icon:before {
		font-size: 30px;
	}
}

.ppb-block.ppb-hover-module.ppb-drop-module:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background: rgba(239, 72, 50, 0.25);
}

.ppb-live-add-object.add-row {
	transition: padding 0.5s;
	&.ppb-drop-module {
		border: 2px dashed #ef4832;
		padding: 11px;
		margin-top: 5px;
	}
	&.ppb-hover-module {
		.dashicons-before:before {
			background: none;
			color: #fff;
		}
		background: #ef4832;
		padding: 25px;
	}
}

.pootle-guides {
	&:before, &:after {
		content: '';
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background: #f40;
	}
}

.pootle-guides-y {
	&:before, .pootle-guides:before {
		display: block;
		width: 1px;
	}
}

.pootle-guides-x {
	&:after, .pootle-guides:after {
		display: block;
		height: 1px;
	}
}

#pootlepb-design-templates-preview-wrap, #ppb-loading, #ppb-loader {
	position: fixed;
	top: -9999px;
	right: -9999px;
	bottom: -9999px;
	left: -9999px;
	z-index: 100000;
	margin: auto;
}

#ppb-loading {
	background: rgba(0, 0, 0, 0.5);
	display: none;
}

#ppb-loader {
	width: 160px;
	height: 160px;
	border: 16px solid #fdb;
	border-radius: 50%;
	border-top-color: #ef4832;
	-webkit-animation: ppb-spin 1.6s linear infinite;
	animation: ppb-spin 1.6s linear infinite;
}

#pootlepb-design-templates-preview-wrap {
	height: 100vh;
	width: 100vw;
	display: flex;
	z-index: 999999;
	overflow: auto;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.25);
	img {
		max-width: 880px;
	}
}

#ppb-iconpicker {
	width: 430px;
	height: 430px;
	background: #fff;
	overflow: auto;
	border: 1px solid #aaa;
	label {
		display: block;
		margin: 1em;
		> {
			* {
				display: inline-block;
				vertical-align: middle;
			}
			span {
				display: inline-block;
				min-width: 142px;
				margin: 1em 0;
			}
			input {
				width: 200px;
			}
		}
	}
}

// WP Color Picker fix saturation slider dropping down
.wp-picker-holder .iris-picker .iris-square {
	margin-right: 9%;
}

/** Ace editor */
#editor {
	position: absolute;
	top: 101px;
	right: 0;
	bottom: 0;
	left: 0;
}

pre.ace_editor.ace-tm {
	height: calc(100% - 88px);
}

#ppb-tooltip {
	font: 14px/1 sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	background: #333;
	color: #fff;
	padding: 3px 5px;
	border-radius: 3px;
}

// Hide unrendered dialogs
.pootlepb-dialog {
	display: none;
}

.ppb-dialog .pootlepb-dialog {
	display: block;
}

// Template design module
#pootlepb-design-templates {
	text-align: left;
	h2, h3, h4 {
		padding: 0.5em 20px 0;
		margin: 0;
	}
	.templates-wrap {
		padding: 1.4em 0;
		border-bottom: 2px solid #eee;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	.ppb-tpl {
		background: #fff;
		position: relative;
		display: block;
		cursor: pointer;
		margin: 2.5em 0 0 2.5em;
		box-shadow: 0 0 7px 1px rgba(0,0,0,0.5);
		border-radius: 0;
		color: #777;
		width: calc( 33.33% - 3.33em );
		float: left;
		.pro {
			position: absolute;
			background: #2196f3;
			/* border: 1px solid #fff; */
			color: #fff;
			padding: 4px 7px;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin: 0;
		}

		.label {
			transition: opacity 0.25s;
			content: attr(data-id);
			display: block;
			padding: 7px;
			font: 14px/16px sans-serif;
			color: #333;
			position: relative;
		}
		.top-left-icon, .fa-search {
			position: absolute;
			padding: 0;
			line-height: 35px;
			width: 35px;
			text-align: center;
			top: 7px;
			right: 7px;
			background: rgba(0,0,0,0.5);
			color: #fff;
			border-radius: 50%;
			opacity: 0.25;
		}

		img {
			width: 100%;
			height: auto;
			display: block;
			margin: 0;
			border-radius: 0;
			+ .fa-search {
				display: block;
			}
		}
		.ppb-tpl-bg {
			background: center bottom/cover url(https://pootle-cloud.firebaseapp.com/assets/default-wilson.jpg);
			height: 200px;
			min-width: 200px;
		}
		.desc {
			position: absolute;
			top: calc( 100% - 25px );
			min-height: 25px;
			padding: 2px 5px;
			background: #fff;
			left: 0;
			right: 0;
			opacity: 0;
			transition: all 0.5s;
			box-shadow: 0 3px 5px rgba(0,0,0,0.5);
			font-size: 12px;
			z-index: 2;
		}

		&:hover {
			.top-left-icon, .fa-search {
				opacity: 0.7;
				&:hover {
					opacity: 0.88;
				}
			}
			.desc {
				top: 99.7%;
				opacity: 1;
			}
		}

	}
}

.ppb-notify {
	position: fixed;
	top: 47vh;
	left: 2.5em;
	right: 2.5em;
	padding: 25px;
	color: #fff;
	z-index: 999999;
	font: 20px sans-serif;
	background: #ef4832 -14px 7px no-repeat url(wilson.png);
	transition: background 0.5s;
	background-clip: border-box;
	padding-left: 140px;
	border: 2px solid rgba(0,0,0,0.25);
	a {
		color: inherit;
		border-bottom: 1px dashed;
		text-decoration: none;
	}
	&:hover {
		background-position-y: 16px;
	}
}

.ppb-dialog[aria-describedby="pootlepb-design-templates"] .ppb-dialog-titlebar,
.ppb-dialog-wilson .ppb-dialog-titlebar {
	background: #2196f3 left bottom/ auto 90% no-repeat url(wilson.png);
	color: #fff;
	padding-left: 4em;
}

@media (min-width:1400px) {
	#pootlepb-design-templates {
		.ppb-tpl {
			margin: 2em 0 0 2em;
			width: calc(25% - 2.5em);
		}
	}
}